<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="js/vue.js"></script>
    <style>
    .red {
        background: red;
    }

    ul{display:none;}
    </style>
</head>

<body>
    <div class="box">
        <input type="button" v-for="(i,item) in list" v-bind:value="item.title"  v-bind:class="{red:i === index}"  v-on:click="handle(i)"  />
        <ul v-for="(j,item) in list"  v-bind:style="{display:j===index? 'block':'none'}">
            <li v-for="option in item.sublist">{{option.subtitle}}</li>
        </ul>
    </div>
    <script>
    var list = [{
            title: "新闻",
            sublist: [
            	{
                    subtitle: "这两天不开心"
                },
                {
                    subtitle: "这两天很不开心"
                },
                {
                    subtitle: "这两天特别不开心"
                }
            ]
        },
        {
            title: "这是新闻2",
            sublist: [
            	{
                    subtitle: "新闻2小正文"
                },
                {
                    subtitle: "新闻2小正文"
                },
                {
                    subtitle: "新闻2小正文"
                },
            ]
        },
        {
            title: "这是新闻3",
            sublist: [
            	{
                    subtitle: "新闻3"
                },
                {
                    subtitle: "新闻3"
                }
            ]
        }
    ]

    var vm = new Vue({
        el: ".box",
        data: {
            list,
            index:0  //让控制哪一个显示
        },
        methods:{
        	handle(i){
        		this.index=i;
        	}
        }
    })
    </script>
</body>

</html>