<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
    body,
    ul,
    li,
    h2 {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    .list>div {
        margin-bottom: 10px;
    }

    .list .show {
        display: block;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="./css/qq.css" />
    <script src="../../js/vue.js"></script>
</head>

<body onselectstart="return false;">
    <div class="wrap" id="app">
        <div class="list">
            <div class="ul" v-for="(i,item) in list">
                <h2 v-on:click="showListHandle(i)" :class="{active:i===index}"><span></span>{{item.title}}</h2>
                <ul :class="{show:i===index}">
                    <li v-for="jtem in item.subList">{{jtem}}</li>
                </ul>
            </div>
        </div>
    </div>
    <script>
    // 数据  设计数据结构  [] {}

    // 设计一个人的信息数据结构
    // ['黑色','黑色','高','高']
    // 妙味课堂的讲师

    let list = [{
            title: "我的好友",
            subList: ["好友1", "好友2", "好友3", "好友4"]
        },
        {
            title: "企业好友",
            subList: ["企业1", "企业2", "企业3", "企业4"]
        },
        {
            title: "黑名单",
            subList: ["黑名单1", "黑名单2"]
        }
    ]

    var vm = new Vue({
        el: "#app",
        data: {
            list,
            index: 0
        },
        methods: {
        	showListHandle(index){
        		this.index = this.index === index? "":index;
        	}
        }
    })
    </script>
</body>

</html>