<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
    body,
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .list-body li:nth-child(even) {
        background: yellow;
    }

    .list-body li:nth-child(odd) {
        background: #fff;
    }

    .list-body li:hover {
        background: green;
    }

    .list-body li.checkedColor {
        background: green;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="css/baidu.css" />
    <script src="../../js/vue.js"></script>
</head>

<body>
    <div class="wrap" id="app">
        <div class="baidu">
            <ul class="list list-head">
                <li>
                    <div>
                        <input type="checkbox" v-model="isCheckedAll" v-on:click="checkAll" />全选
                    </div>
                    <span>歌单</span>
                    <span>歌手</span>
                    <span>专辑</span>
                </li>
            </ul>
            <ul class="list list-body">
                <li v-for="(i,item) in list">
                    <div>
                        <input type="checkbox" v-model="item.checked">
                    </div>
                    <span>{{item.song}}</span>
                    <span>{{item.name}}</span>
                    <span>{{item.album}}</span>
                </li>
            </ul>
            <div class="select">
                <span class="selectAll">
						<span>统计：</span>
                </span>
                <div class="others">
                    <span><em></em>选种的个：{{caculateNum}}位</span>
                    <span><em></em>专辑有{{acLum}}张</span>
                </div>
            </div>
        </div>
    </div>
    <script>
    let list = [{
            id: Date.now() + Math.random(),
            name: '邓紫棋',
            song: '泡沫',
            checked: true,
            album: 10
        },
        {
            id: Date.now() + Math.random(),
            name: '王杰',
            song: '王杰的歌',
            checked: false,
            album: 10
        },
        {
            id: Date.now() + Math.random(),
            name: '邓紫棋',
            song: '泡沫222',
            checked: false,
            album: 10
        },
        {
            id: Date.now() + Math.random(),
            name: '周杰伦',
            song: '简单',
            checked: false,
            album: 3
        }
    ]

    var vm = new Vue({
        el: "#app",
        data: {
            list,
            num: 0
        },
        methods: {

            // 全选
            checkAll() {
                if (this.checkAllBtn) {
                    for (var i = 0; i < this.list.length; i++) {
                        this.list[i].checked = false;
                    }
                } else {
                    for (var i = 0; i < this.list.length; i++) {
                        this.list[i].checked = true;
                    }
                }
            }
        },
        computed: {

            //当list全选，全选按钮全选种
            isCheckedAll() {
                let returnAll = this.list.every(function(item, i) {
                    return item.checked;
                })
                return returnAll;
            },

            //计算歌手的个数
            caculateNum() {
                var songer = this.list.filter(item => item.checked);
                return fn(songer).length;
            },

            //计算专辑个数
            acLum(){
            	var n = 0;
            	this.list.forEach(function(item){
            		n+=item.album
            	})
            	return n;
            }
        }

    })

    function fn(option) {
        var json = {};
        var arr = [];
        option.forEach((item) => {
            if (!json[item.name]) {
                json[item.name] = true;
                arr.push(item);
            }
        })
        return arr;
    }
    </script>
</body>

</html>